.criarGraficoContainer {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.criarGraficoContainer > h1 {
    font-size: 2rem;
    color: #252525;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}
