.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.container div {
    width: 35px;
    height: 6px;
    background-color: #252525;
    border-radius: 10px;
}